name = "site-crownandcompass"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[[d1_databases]]
binding = "DB"
database_name = "crownandcompass"
database_id = "YOUR_D1_DATABASE_ID"
