name = "site-crownandcompass"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[[d1_databases]]
binding = "DB"
database_name = "crownandcompass"
database_id = "e6c99627-f2a8-48be-9157-5747f5caaf63"
